
@font-face {
  font-family: AvertaExtraBold;
  src: url(../../assets/fonts/AvertaExtraBold.otf);
}







@font-face {
  font-family: AvertaBold;
  src: url(../../assets/fonts/AvertaBold.otf);
}






@font-face {
  font-family: AvertaSemiBold;
  src: url(../../assets/fonts/AvertaSemibold.otf);
}














.layout {
  background-color: #ffff !important;
  box-shadow: 3px 3px 5px 1.5px lightgray !important;
}


.img {
  height: 200px;
   width: 200px;
    margin-left: 10px;
     margin-top: -30px;
}
.main {
   height: 100vh !important;
   box-shadow: 3px 3px 5px 1.5px lightgray !important;
   overflow: auto !important;

}

.main::-webkit-scrollbar{

  width: 2.5px  !important;
}


.main::-webkit-scrollbar-track{

  background: #ffffff !important;
}


.main::-webkit-scrollbar-thumb{

  background: #61D9AB !important;
  background-clip: content-box !important;
  border-radius: 10px !important;
}
  
 @media (max-width: 499px) {
   .main {
    display: none
   }

 }
.menus {
  text-align: left;
   margin-top: -40px;
   font-family: AvertaSemiBold , sans-serif !important;
}



.ant-menu {

  margin-top: 0px !important;
}


 .ant-menu-title-content {

 
  color: black;
  font-weight: 700 !important;
  font-size: 14.5px;
  font-family: AvertaSemiBold , sans-serif !important;
 }

 .ant-menu-light .ant-menu-item-selected {
  background-color: #61D9AB !important;
  color: #ffff;
  height: 55px;
  width: 90%;
  margin-left: 20px;
 }


.ant-menu .ant-menu-submenu-title .ant-menu-item-icon >*{
  color: black;
}
 .ant-menu-light .ant-menu-item-selected .ant-menu-title-content{
  color: #ffffff;
 }
 .ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  font-size: 20px;
  margin-right: 15px;
 }

 .ant-menu .ant-menu-item .ant-menu-item-icon {
  font-size: 20px;
  margin-right: 15px;
 }
 .ant-menu-light.ant-menu-inline .ant-menu-item {
  height: 55px;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 10px;
 }
 
 .ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title {
  margin-bottom: 10px;
  color: black;
  height: 55px;
  width: 90%;
  margin-left: 20px;
  
 }
 .ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title:hover {
  background-color: #61D9AB;
  color: #ffffff !important;
 }




 
 

.ant-menu-item:focus {

  box-shadow: 3px 3px 5px 1.5px lightgray !important;

 } 
 .ant-menu-vertical .ant-menu-submenu {
  height: 55px;
  width: 90%;
  margin-left: 20px;

 }
 .ant-menu-light .ant-menu-submenu > .ant-menu-submenu-title{
  height: 55px;
  width: 90%;
  margin-left: 20px;
 }




